<?xml version="1.0"?>
<robot name="steve_block">
    <material name="steve_material">
        <texture filename="steve.png"/>
        <color rgba="1 1 1 1"/>
    </material>

    <link name="base_link">
        <inertial>
            <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/>
            <mass value="1.0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" 
                     iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
        
        <visual>
            <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/>
            <geometry>
                <mesh filename="steve.obj" scale="0.0012 0.0012 0.0012"/>
            </geometry>
            <material name="steve_material"/>
        </visual>
        
        <collision>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
            <geometry>
                <mesh filename="steve.obj" scale="0.0012 0.0012 0.0012"/>
            </geometry>
        </collision>
    </link>
</robot>
